@model Cops.Models.Verbale

<h2>Modifica Verbale</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdVerbale" />

    <div class="mb-3">
        <label class="form-label">Codice Fiscale</label>
        <input type="text" class="form-control" asp-for="Cod_Fisc" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Tipo Violazione</label>
        <input type="number" class="form-control" asp-for="IdViolazione" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Decurtamento Punti</label>
        <input type="number" class="form-control" asp-for="DecurtamentoPunti" />
    </div>

    <div class="mb-3">
        <label class="form-label">Importo (€)</label>
        <input type="number" class="form-control" asp-for="Importo" />
    </div>

    <div class="mb-3">
        <label class="form-label">Data Violazione</label>
        <input type="date" class="form-control" asp-for="DataViolazione" required />
    </div>

    <button type="submit" class="btn btn-warning">Salva Modifiche</button>
</form>

<a asp-action="Index">Torna alla lista</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
